* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffeaff;
  width: 100%;
  height: 100%;
  padding: 30px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #ffc8dd;
  width: auto;
  gap: 20px;
  border-radius: 20px;
}

.addresses-input {
  min-height: 100px;
  min-width: 400px;
  border-radius: 15px;
  padding: 3px;
  overflow: scroll;
}

.amount-input {
  min-height: 50px;
  min-width: 100px;
  border-radius: 10px;
  padding: 5px;
}

.button {
  min-height: 30px;
  min-width: 80px;
  border-radius: 10px;
  border-color: white;
  background-color: #a2d2ff;
  padding: 10px;
}

.tx-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
